view,swiper,swiper-item{
	box-sizing: border-box;
}

.pageBg{
	background: 
	linear-gradient(to bottom,transparent,#fff 400rpx),
	linear-gradient(to right,#beecd8 20%,#F4E2D8);
	min-height: 80vh;
}

.loadingLayout{
	padding:30rpx 0;
}

.safe-area-inset-bottom{
	height: env(safe-area-inset-bottom);
}

