// .babelrc with tree shaking
{
    "presets": ["react", ["es2015", { "modules": false }]],
    "env":{
        "development":{
            "plugins": [
                ["react-transform",{
                    "transforms": [{
                        "transform": "react-transform-hmr",
                        "imports": ["react"],
                        "locals": ["module"]
                    }]
                }]
            ]
        }
    }
}